distrax==0.1.5
flax==0.10.4
ipykernel==6.29.5
ipython==8.34.0
jax==0.5.2
jax-tqdm==0.3.1
jaxlib==0.5.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==2.2.3
numpyro==0.18.0
optax==0.2.4
pandas==2.2.3
scipy==1.15.2
seaborn==0.13.2
statsmodels==0.14.5
tqdm==4.67.1